@model project8.Models.TaskViewModels.TaskBasicViewModel[]

@{
    ViewBag.Title = "Home Page";
}

<select id="taskList">

    @foreach (var task in Model)
    {
        <option value="@task.Id">@task.Name</option>
    }
</select>

<button id="btnStart">Стартиране</button>
<button id="btnPause">Пауза</button>
<button id="btnResume">Продължаване</button>
<button id="btnStop">Завършване</button>

<br />
<br />
<br />

<textarea id="commentInput" style="display: none;"></textarea>
<button id="submitTask" style="display: none;">Изпращане</button>

@section Scripts
    {
    <script type="text/javascript">

        $(function () {
            $.getSelectedTask = function () {
                var selectedTaskId = $("#taskList").val();

                return selectedTaskId;
            }

            $("#btnStart").click(function () {
                var selectedTaskId = $.getSelectedTask();

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ResumeTaskWork", "Task")',
                    data: '{ taskId: ' + selectedTaskId + '}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
                return false;
            });

            $("#btnPause").click(function () {
                var selectedTaskId = $.getSelectedTask();

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("PauseTaskWork", "Task")',
                    data: '{ taskId: ' + selectedTaskId + '}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
                return false;
            });

            $("#btnStop").click(function () {
                $("#commentInput").css('display', 'block');
                $("#submitTask").css('display', 'block');
            });

            $("#submitTask").click(function () {
                var selectedTaskId = $.getSelectedTask();
                var comment = $("#commentInput").val();

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("FinishTaskWork", "Task")',
                    data: JSON.stringify({
                        taskId: selectedTaskId,
                        comment: comment
                    })/*'{ taskId: ' + selectedTaskId + ', comment: ' + comment + '}'*/,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        $("#taskList option[value = '" + selectedTaskId + "']").remove();
                        $("#commentInput").val('');
                        $("#commentInput").css('display', 'none');
                        $("#submitTask").css('display', 'none');
                        console.log(response);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
                return false;
            });
        });
    </script>
}

