@model project8.Models.TaskViewModels.TaskBasicViewModel[]

@{
    ViewBag.Title = "Home Page";
}

<select id="taskList">

    @foreach (var task in Model)
    {
        <option value="@task.Id">@task.Name</option>
    }
</select>

<button id="btnStart">Стартиране</button>
<button id="btnPause">Пауза</button>
<button>Продължаване</button>
<button id="btnStop">Завършване</button>


@section Scripts
    {
    <script type="text/javascript">

        $(function () {
            $("#btnStart").click(function () {
                var selectedTaskId = $("#taskList").val();
                alert(selectedTaskId);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ResumeTaskWork", "Task")',
                    data: '{ taskId: ' + selectedTaskId + '}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                       // alert("Data has been added successfully.");
                        alert("success");
                    },
                    error: function () {
                        alert("Error while inserting data");
                    }
                });
                return false;
            });

            $("#btnPause").click(function () {
                var selectedTaskId = $("#taskList").val();
                alert(selectedTaskId);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("PauseTaskWork", "Task")',
                    data: '{ taskId: ' + selectedTaskId + '}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                       // alert("Data has been added successfully.");
                        alert("success");
                    },
                    error: function () {
                        alert("Error while inserting data");
                    }
                });
                return false;
            });

            $("#btnStop").click(function () {
                var selectedTaskId = $("#taskList").val();
                alert(selectedTaskId);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("FinishTaskWork", "Task")',
                    data: '{ taskId: ' + selectedTaskId + '}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        $("#taskList option[value = '" + selectedTaskId + "']").remove()
                        alert("success");
                    },
                    error: function () {
                        alert("Error while inserting data");
                    }
                });
                return false;
            });
        });
    </script>
}

